TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=zea_Hfia12ZCYLHSnhK3QrgptPmXhkvF
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=localhost
DB_DATABASE=url_shortener
PASSWORD_START_SALT=129
PASSWORD_END_SALT=mmwe